body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
}

.view-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 15px;
}

.btn-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn {
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn.green {
  border: 1px solid #74ad7f;
  background: linear-gradient(145deg, #99c7a2 65%, #c8cc7c 100%);
  font-weight: 600;
  transition: 0.2s all;
  min-width: 100px;
  color: white;
  border-radius: 15px;
  padding: 10px 15px;
}

.btn.green:hover {
  background: linear-gradient(145deg, #99c7a2 25%, #c8cc7c 100%);
  transition: 0.2s all;
}

.btn.light {
  background-color: white;
}

.btn.medium-shadow {
  width: 70px;
  height: 70px;
  box-shadow: 0px 15px 15px 4px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  transition: 0.2s all;
}
.btn.medium-shadow:hover {
  box-shadow: 0px 15px 15px 4px rgba(0, 0, 0, 0.32);
  transition: 0.2s all;
}

.toolbar {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 10px;
}

#scene-canvas {
  border-radius: 5px;
}

.file-browser {
  width: 400px;
}

.file-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.file-prompt {
  display: flex;
  flex-direction: column;
}

.file-item img {
  display: block;
  max-width: 100%;
}

input, textarea {
  border-radius: 25px;
  box-sizing: border-box;
  min-height: 70px;
  box-shadow: 0px 15px 15px 4px rgba(0, 0, 0, 0.12);
  border: none;
  padding: 0px 25px;
  outline: none;
}
input::placeholder, textarea::placeholder {
  color: #515151;
  opacity: 0.5;
}

.view-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}